<div class="input-field col 4">
  <%= form.select :targetable_id, @chapter.locations.map {|n| [n.name, n.id]}, id: :targetable_id %>
  <%= form.label :targetable_id %>
</div>
<%= form.hidden_field :targetable_type, value: 'Location' %>