<nav class="breadcrumb-bar">
  <div class="nav-wrapper row">
    <div class="col s12">
      <%= link_to 'Adventures', adventures_path, class: 'breadcrumb' %>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <% @adventures.each do |adventure| %>
        <%= render 'adventures/adventure', adventure: adventure %>
      <% end %>

      <%= link_to 'add a new adventure', new_adventure_path %>

    </div>
  </div>
</div>
