<div class="card">
  <div class="card-content">
    <span class="card-title">Personality Trait</span>
    <div class="left-align">
      <%= character.personality_trait_text%>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Ideal</span>
    <div class="left-align">
      <%= character.ideal_text%>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Bond</span>
    <div class="left-align">
      <%= character.bond_text%>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Flaw</span>
    <div class="left-align">
      <%= character.flaw_text%>
    </div>
  </div>
</div>