<div class="card">
  <div class="card-content">
    <span class="card-title">Attacks</span>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Atk Bonus</th>
        <th>Damage</th>
        <th>Positions</th>
        <th>Targets</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Great Axe</td>
        <td>+4</td>
        <td>1D12+2</td>
        <td>[o][o][o][x]</td>
        <td>[x][x][o][o]</td>
      </tr>
      <tr>
        <td>Longsword</td>
        <td>+4</td>
        <td>1D8+2</td>
        <td>[o][o][x][x]</td>
        <td>[x][x][o][o]</td>
      </tr>
      <tr>
        <td>Dagger</td>
        <td>+4</td>
        <td>1D4+2</td>
        <td>[o][x][x][x]</td>
        <td>[x][x][x][o]</td>
      </tr>
      <tr>
        <td>Javelin</td>
        <td>+4</td>
        <td>1D6+2</td>
        <td>[o][x][x][o]</td>
        <td>[o][x][x][o]</td>
      </tr>
      <tr>
        <td>Light Crossbow</td>
        <td>+4</td>
        <td>1D8+2</td>
        <td>[x][x][x][o]</td>
        <td>[o][x][x][x]</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>