<div class="card">
  <div class="card-content">
    <span class="card-title">Equipments</span>
    <table>
      <thead>
      <tr>
        <th>Slot</th>
        <th>Item</th>
        <th>Weight</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Right Hand</td>
        <td>War Axe</td>
        <td>5lb</td>
      </tr>
      <tr>
        <td>Left Hand</td>
        <td>Iron Shield</td>
        <td>2lb</td>
      </tr>
      <tr>
        <td>Body</td>
        <td>Scale Armor</td>
        <td>10lb</td>
      </tr>
      <tr>
        <td>Secondary Weapon</td>
        <td>Javelin</td>
        <td>1lb</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>