<div class="card">
  <div class="card-content">
    <span class="card-title">Features</span>
    <% character.all_features.each do |feature| %>
        <p><%= t feature %></p>
    <% end %>
  </div>
</div>