<div class="card">
  <div class="card-content">
    <span class="card-title">Inventory</span>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Value</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Axe</td>
        <td>2lb</td>
        <td>5gp</td>
      </tr>
      <tr>
        <td>Gold</td>
        <td>1lb</td>
        <td>300gp</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>